---
import { Header } from "@components/Layout";
import HeadMeta from "@components/Commons/HeadMeta.astro";
import "../styles/global.css";
import { getLangFromUrl } from "../i18n/utils";
import FooterLayer from "@components/Layout/Footer/FooterLayer";
import LayerBackground from "@components/Commons/LayerBackground";
import BottomScreen from "@components/Features/BottomScreen/BottomScreen.astro";
import Footer from "@components/Layout/Footer/Footer.astro";

const lang = getLangFromUrl(Astro.url);
// props
interface Props {
  title?: string;
  enableHeader?: boolean;
  enableFooter?: boolean;
}
const {
  title,
  enableHeader = false,
  enableFooter = false,
} = Astro.props as Props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <HeadMeta title={title} />
  </head>
  <body>
    {enableHeader && <Header lang={lang} client:load />}
    <main>
      <LayerBackground />
      {title && <h1 class="sr-only">{title}</h1>}
      <slot />
      {enableFooter && <FooterLayer lang={lang} />}
    </main>
    <BottomScreen lang={lang} />
    <Footer lang={lang} client:visible />

    <!-- your content is injected here -->
  </body>
</html>
<style is:global>
  @keyframes bump {
    0% {
      opacity: 0;
      transform: scale(1) translateX(200px);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }
</style>
